.commentaire{
    width: 68.33vw;
}
.com-box{
    border: 3px;
    border: solid;
    width: 68.33vw;
    min-height: 200px;
}
.commentaire h2{
    margin-left: 80px;
}
.com-date{
    text-align: right;
}
.com-box p{
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
}
.contact{
    margin-top: 100px;
}

.coms .comm{
    width: 100%;
    min-height: 200px;

}