.btn-primary{
    background-color:#074d6d;
    border-color:#074d6d;
    color: white;
}
.bs-btn-hover-bg{
    background-color: blueviolet;
}
.btn-danger { background-color:#6D071A;
border-color:#6D071A;}

.btn-success {
    background-color: #076d27;
    border-color: #076d27;
}