p {
    font-family: 'Karla';
    font-size: 25px;
}
.date {
    text-align: right;
}
h1 {
    text-align: center;
    font-family: 'Verdana';
    font-size: 76px;
}

h3.nom-form{
    font-family: 'karla';
    font-size: 25px;
}
label{
    font-family: 'karla';
    font-size: 25px;
}
h2.tableau{
    text-align: center;
    font-family: 'Verdana';
    font-size: 46px;
}