p {
    font-family: 'Karla';
    font-size: 25px;
}

@media(max-width:1024px) {
    p {
        font-size: 20px;
    }
}

p.tableau {
    font-family: 'Karla';
    font-size: 20px;
}

@media(max-width:1024px) {
    p.tablau {
        font-size: 18px;
    }
}

.date {
    text-align: right;
}

h1 {
    text-align: center;
    font-family: 'Verdana';
    font-size: 76px;
}

@media(max-width:1024px) {
    h1 {
        font-size: 24px;
    }
}

h2.tableau {
    text-align: center;
    font-family: 'Verdana';
    font-size: 46px;
}

@media(max-width:1024px) {
    h2.tableau {
        font-size: 22px;
    }
}

h3 {
    font-family: 'karla';
    font-weight: bold;
    font-size: 25px;
}

@media(max-width:1024px) {
    h3 {
        font-size: 20px;
    }
}

h3.theme {
    font-family: 'karla';
    font-style: italic;
    font-size: 25px;
}

@media(max-width:1024px) {
    h3.theme {
        font-size: 20px;
    }
}

a {
    color: #6D071A;
    text-decoration: #6D071A;
    text-decoration: underline;
}

.nom-form {
    font-family: 'karla';
    font-size: 25px;
}

@media(max-width:1024px) {
    .nom-form {
        font-size: 20px;
    }
}

h4 {
    font-family: 'Karla';
    font-size: 20px;
}

@media(max-width:1024px) {
    h4 {
        font-size: 18px;
    }
}

label {
    font-family: 'karla';
    font-size: 25px;
}

@media(max-width:1024px) {
    label {
        font-size: 20px;
    }
}

.row {
    margin-right: 0;
}

/* résoulu le problèe de la barre horizontale*/

